.main-feed {
    height:100%;
    width:100%;
}
.feed-wrapper {
    width: 100%;
    height:fit-content;
    padding-bottom: 10px;
    display:flex;
    border: 1px solid rgb(235,238,240);
}
.feed-wrapper:hover {
    background-color: #F7F7F7;
}
.feed-logo {
width: 60px;
height:60px;
margin: 10px;
background-color: red;
background: url("../../images/chucknorrisLogo.png");
background-position: center;
background-repeat: no-repeat;
background-size: cover;
border-radius: 50%;
border:1px solid black;
}

.feed-details {
width:90%;
height:fit-content;
display:flex;
flex-direction: column;
justify-content: flex-start;
align-items: center;

}
.feed-title-section {
    height:25%;
    width:100%;
    display:flex;
    justify-content: flex-start;
    align-items: center;
}
.feed-title-section p {
    font-weight: 400;
    margin-left: 5px;
    vertical-align: middle;
    color: rgb(101,120,138);

}
.feed-title-section h4 {
    margin:10px 0 10px 0;
}

.tweet-feed {
    height: fit-content;
    width:100%;
    display:flex;
}

.tweet-btns {    
    height: 25%;
    width: 100%;
    display:flex;
    align-items: center;
    justify-content: space-between;
}
.tweet-btns a i {
    color: #65788A;
}
.tweet-btns a {
    margin: 5px 5px 0 5px;
    width:35px;
    height:35px;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;

}
.tweet-btns a:hover {
    background-color: rgb(225,238,247);
    border-radius: 50%;
}

.tweet-btns a i:hover {
    color:rgb(29,161,242);
}



